html, body {
    width: 100%;
    font-family: $font-inter, sans-serif;
    background-color: #fafafa;
    color: #222;
}

html, body, #__nuxt, #__layout, .main-app {
    height: 100%;
}

.main-app {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

main, .page {
    display: flex;
    flex-direction: column;
    flex: 1 0;
    height: 100%;
    overflow: auto;
}

.page {
    padding: 20px;

    h1 {
        display: block;
        margin-bottom: 20px;
    }
}
