// Fonts
$font-inter: 'Inter';

// Font Weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// Colours
$colour-green: #09E00C;
$colour-dark-grey: #373C42;

$colour-yellow: #F5B946;
$colour-orange: #EB824B;
$colour-pink: #E64B5F;
$colour-light-yellow: #E1B982;
$colour-light-pink: #F09696;
$colour-purple: #B980FF;
$colour-turquoise: #50B9DC;
$colour-green-blue: #1E788C;
$colour-green: #9ABBA8;
$colour-navy: #144673;
$colour-dark-navy: #14233C;
$colour-grey: #F5F5F5;
$colour-white: #FFFFFF;
