@import "base/base";
@import "elements/elements";
@import "layouts/layouts";
@import "components/components";

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fade2-enter-active, .fade2-leave-active {
    transition: opacity .2s ease-in-out;
}

.fade2-enter, .fade2-leave-to {
    opacity: 0;
}
